* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/background.jpg);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding: 12px;
}

.header img {
    width: 50px;
    height: auto;
    margin-right: 12px;
}

.introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    margin-top: 24px;
    flex-direction: column;
    margin-bottom: 24px;
}


.kalkulator {
    display: flex;
    justify-content: center;
    column-gap: 128px;
}

.kalkulator p {
    font-size: 18px;
}

.btn {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 8px;
}


